extends ../layout 

block content
    br
    a.btn.btn-primary.js-scroll-trigger(href='../bicicletas') Volver

    br
    br
    br

    h1 Modificar Bici 

    br
    br
    
    form(action=`/bicicletas/${bici.code}/update` method='post')
        label(for='code') ID:
        input#code(type='text' name='code' value= bici.code)
        br
        label(for='color') Color:
        input#color(type='text' name='color' value= bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value= bici.modelo)
        br
        label(for='lat') Latitud:
        input#latitud(type='text' name='lat' value= bici.ubicacion[0])
        br
        label(for='long') Longitud:
        input#longitud(type='text' name='long' value= bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')